/* ---------------------------------------------for ul tag style------------------------- */
ul{
    list-style-type: none;
    padding: 1rem;
    margin-top: 0;
    display: flex;
    background-color: #48056b;
    color: white;
    justify-content: center;
    align-items: center;
}

ul li {
    padding: 1rem;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
}

ul li:hover {
    background-color: white;
    color: #48056b;
}

h2 {
    text-align: center;
}

/* -------------------------------------------main content style----------------------------------- */
.main-content {
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    color: #333;
    max-width: 800px; 
    margin: 20px auto; 
}

 /* ---------------------------------Sidebar styling--------------------------- */ 
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #48056b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}
